#dropbox stuff
*.dropbox*
.idea/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.tar.gz

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Pycharm
.idea/*

#Notebook stuff
notebooks/.ipynb_checkpoints/

#Google Cloud stuff
/google-cloud-sdk

#My studf
#pytorch_mlp_framework/experiment_builder.py
gradient_flow_plots_38
VGG_08_experiment/.DS_Store
VGG_08_experiment/result_outputs/summary.csv
VGG_08_experiment/saved_models/train_model_0
VGG_08_experiment/saved_models/train_model_latest
notebooks/.DS_Store
notebooks/Plot_Results.ipynb
notebooks/.DS_Store
notebooks/Plot_Results.ipynb
data/.DS_Store
data/cifar-100-python/file.txt~
data/cifar-100-python/meta
data/cifar-100-python/test
data/cifar-100-python/train
data/.DS_Store
notebooks/.DS_Store
notebooks/Plot_Results.ipynb
data/.DS_Store
VGG_38_bn/.DS_Store
VGG_38_bn/result_outputs/summary.csv
VGG_38_bn/result_outputs/test_summary.csv
VGG_38_bn/saved_models/.DS_Store
VGG_38_bn/saved_models/train_model_0
VGG_38_bn/saved_models/train_model_1
VGG_38_bn/saved_models/train_model_2
VGG_38_bn/saved_models/train_model_3
VGG_38_bn/saved_models/train_model_4
VGG_38_bn/saved_models/train_model_5
VGG_38_bn/saved_models/train_model_6
VGG_38_bn/saved_models/train_model_7
VGG_38_bn/saved_models/train_model_8
VGG_38_bn/saved_models/train_model_9
VGG_38_bn/saved_models/train_model_10
VGG_38_bn/saved_models/train_model_11
VGG_38_bn/saved_models/train_model_12
VGG_38_bn/saved_models/train_model_13
VGG_38_bn/saved_models/train_model_14
VGG_38_bn/saved_models/train_model_15
VGG_38_bn/saved_models/train_model_16
VGG_38_bn/saved_models/train_model_17
VGG_38_bn/saved_models/train_model_18
VGG_38_bn/saved_models/train_model_19
VGG_38_bn/saved_models/train_model_20
VGG_38_bn/saved_models/train_model_21
VGG_38_bn/saved_models/train_model_22
VGG_38_bn/saved_models/train_model_23
VGG_38_bn/saved_models/train_model_24
VGG_38_bn/saved_models/train_model_25
VGG_38_bn/saved_models/train_model_26
VGG_38_bn/saved_models/train_model_27
VGG_38_bn/saved_models/train_model_28
VGG_38_bn/saved_models/train_model_29
VGG_38_bn/saved_models/train_model_30
VGG_38_bn/saved_models/train_model_31
VGG_38_bn/saved_models/train_model_32
VGG_38_bn/saved_models/train_model_33
VGG_38_bn/saved_models/train_model_34
VGG_38_bn/saved_models/train_model_35
VGG_38_bn/saved_models/train_model_36
VGG_38_bn/saved_models/train_model_37
VGG_38_bn/saved_models/train_model_38
VGG_38_bn/saved_models/train_model_39
VGG_38_bn/saved_models/train_model_40
VGG_38_bn/saved_models/train_model_41
VGG_38_bn/saved_models/train_model_42
VGG_38_bn/saved_models/train_model_43
VGG_38_bn/saved_models/train_model_44
VGG_38_bn/saved_models/train_model_45
VGG_38_bn/saved_models/train_model_46
VGG_38_bn/saved_models/train_model_47
VGG_38_bn/saved_models/train_model_48
VGG_38_bn/saved_models/train_model_49
VGG_38_bn/saved_models/train_model_50
VGG_38_bn/saved_models/train_model_51
VGG_38_bn/saved_models/train_model_52
VGG_38_bn/saved_models/train_model_53
VGG_38_bn/saved_models/train_model_54
VGG_38_bn/saved_models/train_model_55
VGG_38_bn/saved_models/train_model_56
VGG_38_bn/saved_models/train_model_57
VGG_38_bn/saved_models/train_model_58
VGG_38_bn/saved_models/train_model_59
VGG_38_bn/saved_models/train_model_60
VGG_38_bn/saved_models/train_model_61
VGG_38_bn/saved_models/train_model_62
VGG_38_bn/saved_models/train_model_63
VGG_38_bn/saved_models/train_model_64
VGG_38_bn/saved_models/train_model_65
VGG_38_bn/saved_models/train_model_66
VGG_38_bn/saved_models/train_model_67
VGG_38_bn/saved_models/train_model_68
VGG_38_bn/saved_models/train_model_69
VGG_38_bn/saved_models/train_model_70
VGG_38_bn/saved_models/train_model_71
VGG_38_bn/saved_models/train_model_72
VGG_38_bn/saved_models/train_model_73
VGG_38_bn/saved_models/train_model_74
VGG_38_bn/saved_models/train_model_75
VGG_38_bn/saved_models/train_model_76
VGG_38_bn/saved_models/train_model_77
VGG_38_bn/saved_models/train_model_78
VGG_38_bn/saved_models/train_model_79
VGG_38_bn/saved_models/train_model_80
VGG_38_bn/saved_models/train_model_81
VGG_38_bn/saved_models/train_model_82
VGG_38_bn/saved_models/train_model_83
VGG_38_bn/saved_models/train_model_84
VGG_38_bn/saved_models/train_model_85
VGG_38_bn/saved_models/train_model_86
VGG_38_bn/saved_models/train_model_87
VGG_38_bn/saved_models/train_model_88
VGG_38_bn/saved_models/train_model_89
VGG_38_bn/saved_models/train_model_90
VGG_38_bn/saved_models/train_model_91
VGG_38_bn/saved_models/train_model_92
VGG_38_bn/saved_models/train_model_93
VGG_38_bn/saved_models/train_model_94
VGG_38_bn/saved_models/train_model_95
VGG_38_bn/saved_models/train_model_96
VGG_38_bn/saved_models/train_model_97
VGG_38_bn/saved_models/train_model_98
VGG_38_bn/saved_models/train_model_99
VGG_38_bn/saved_models/train_model_latest
VGG_38_bn/saved_models/gradient_flow_plots/epoch0.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch1.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch2.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch3.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch4.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch5.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch6.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch7.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch8.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch9.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch10.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch11.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch12.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch13.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch14.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch15.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch16.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch17.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch18.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch19.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch20.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch21.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch22.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch23.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch24.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch25.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch26.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch27.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch28.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch29.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch30.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch31.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch32.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch33.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch34.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch35.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch36.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch37.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch38.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch39.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch40.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch41.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch42.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch43.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch44.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch45.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch46.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch47.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch48.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch49.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch50.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch51.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch52.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch53.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch54.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch55.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch56.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch57.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch58.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch59.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch60.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch61.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch62.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch63.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch64.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch65.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch66.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch67.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch68.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch69.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch70.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch71.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch72.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch73.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch74.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch75.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch76.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch77.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch78.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch79.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch80.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch81.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch82.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch83.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch84.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch85.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch86.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch87.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch88.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch89.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch90.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch91.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch92.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch93.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch94.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch95.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch96.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch97.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch98.pdf
VGG_38_bn/saved_models/gradient_flow_plots/epoch99.pdf
notebooks/Plot_Results.ipynb
notebooks/Plot_Results.ipynb
