#dropbox stuff
*.dropbox*
.idea/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.tar.gz

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Pycharm
.idea/*

#Notebook stuff
notebooks/.ipynb_checkpoints/

#Google Cloud stuff
/google-cloud-sdk

#My studf
#pytorch_mlp_framework/experiment_builder.py
gradient_flow_plots_38
VGG_08_experiment/.DS_Store
VGG_08_experiment/result_outputs/summary.csv
VGG_08_experiment/saved_models/train_model_0
VGG_08_experiment/saved_models/train_model_latest
notebooks/.DS_Store
notebooks/Plot_Results.ipynb
notebooks/.DS_Store
notebooks/Plot_Results.ipynb
data/.DS_Store
data/cifar-100-python/file.txt~
data/cifar-100-python/meta
data/cifar-100-python/test
data/cifar-100-python/train
data/.DS_Store
notebooks/.DS_Store
notebooks/Plot_Results.ipynb
data/.DS_Store
